@import './base.css';
input{
  padding: 7px 10px;
  color: gray;
}
input:focus{
  outline:1px solid rgba(128, 128, 128, 0.486);
}

*{
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}